.resume-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  padding: 4rem 1rem;
  max-width: 1000px;
}
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;
}
.resume-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;
  max-width: 750px;
}

.resume-subtitle {
  font-weight: 500;
  color: var(--text-secondary);
}
.resume-divider {
    margin-top: -4rem;
    margin-bottom: 8rem;
    border: none;
    border-top: 2px solid var(--text-secondary);
  }
