.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* cut off bottom overflow */
  position: relative;
  overflow: hidden;
}

.hero-panel-l {
  height: calc(100% - 2rem);
  width: 50%;
  display: flex;
  margin: 1rem;
  justify-content: left;
  padding: 5%;
}
.hero-panel-r {
  height: calc(100% - 2rem);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  background-color: var(--bg-primary);
  border-radius: 2rem;
  margin: 1rem;
}
.hero-middle {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero-middle img {
  height: 100%;
  width: auto;
  object-fit: fit;
  border-radius: 2rem;
}
.hero-left-text {
  color: #ffffff;
  align-items: left;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left-text h1 {
  font-size: 8rem;
}
.hero-left-text h2 {
  font-size: 1.5rem;
  margin-bottom: 6rem;
}
.hero-left-button {
  color: var(--accent);
  background-color: var(--bg-primary);
  height: auto;
  width: 60%;
  padding: 1rem 2rem;
  border-radius: 3rem;
  justify-content: space-between;
  display: flex;
}
.hero-left-button a {
  height: 100%;
  width: auto;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
}
.hero-left-button:hover {
  background-color: var(--accent);
  color: var(--bg-primary);
}
.btn-icon {
  stroke-width: 3px;
  size: 2rem;
}
.hero-right-text {
  align-items: left;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  gap: 2rem;
}
.hero-right-bullet {
  margin-right: 1rem;
  color: var(--accent);
  stroke-width: 4px;
}
.hero-right-inprogress {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  gap: 0.5rem;
  background-color: var(--text-secondary);
  color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 1rem;
  width: fit-content;
}
.hero-right-inprogress h3 {
  font-size: 2rem;
  font-weight: 600;
}
.hero-right-inprogress p {
  font-size: 1rem;
  font-weight: 400;
}
.hero-right-inprogress a {
  color: var(--accent);
  font-weight: 600;
}
